@import 'partials/variables';

.assignment {
	width: 260px;
	text-align: center;
	padding: 0 !important;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: center;
	box-sizing: border-box;
	position: relative;

	.assignment-info {
		padding: 32px;
		padding-bottom: 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.week-number {
			font-weight: 400;
		}

		.week-title, .due-date {
			margin-top: 8px;
			font-size: 0.8em;
			color: $gray;
			font-weight: 700;
		}

		.week-title {
			height: 3em;
		}

		.assignment-status {
			width: 100%;
			font-size: 0.8em;
			color: $gray;
			font-weight: 700;
			line-height: 1.5em;
			
			a {
				text-decoration: none;
				color: inherit;
			}
		}
	}

	.assignment-description {
		margin: 10px;
		display: none;
		color: $gray;
		font-weight: 700;
	}

	.assignment-buttons {
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;
		flex-grow: 2;
		flex-shrink: 2;

		a, .submit-assignment-button  {
			padding: 16px 16px;
			height: 64px;
			background: $blue;
			color: $white;
			opacity: 0.8;
			transition: 0.3s;
			font-size: 0.8em;
			box-sizing: border-box;
			text-decoration: none;
			position: relative;
			cursor: pointer;
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			&:hover {
				opacity: 1;
			}
			&:first-child {
				border-bottom-left-radius: 4px;
			}
			&:last-child {
				border-bottom-right-radius: 4px;
			}
		}
	}

	.grade-info {
		margin: 32px;
		text-align: center;

		h4 {
			margin: 0;
		}

		.grade-score {
			font-size: 2em;
		}

		.total-points {
			margin-top: 8px;
			font-size: 0.8em;
		}

	}

	.delete {
		font-size: 1.5em;
		text-decoration: none;
	}
}

.submit-assignment-form {
	position: absolute;
	padding: 16px;
	background: $blue;
	left: 50%;
	transform: translate(-50%, 16px);
	top: 100%;
	display: none;

	&:before {
		content: "";
		width: 16px;
		height: 16px;
		display: block;
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		background: inherit;
		border: 40px solid rgba(0, 0, 0, 0);
		background-clip: padding-box;
		// box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1)
	}

	h6 {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin-bottom: 6px;
		font-weight: 700;
		text-align: left;
	}

	form {
		display: flex;
	}

	input {
		padding: 8px 8px;
		outline-color: rgba(0, 0, 0, 0);
		-webkit-appearance: none;
		border: 0px solid $gray;
		background: $white;

		&:focus {
			outline: $blue-highlight;
		}

		&:last-child {
			background: $off-white;
			cursor: pointer;
		}
	}
}
	
