@import 'variables';

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	background-color: $facebook;
	position: sticky;
	top: 0;
	z-index: 2;

	#right-side {
		display: flex;

		* {
			margin: 0px 16px;
		}
	}
}
