@import 'variables';

nav {
	display: flex;
	flex-direction: column;
	background-color: $white;
	top: 0;
	z-index: 2;
	height: 100vh;
	position: fixed;
	left: 0;
	padding: 0 72px 0 56px;
	font-family: 'Neuzeit';
	box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
	box-sizing: border-box;

	#user-name {
		padding-bottom: 24px;
		font-size: 0.8em;
		color: $gray;

		a {
			display: block;
			margin-top: 8px;
			color: inherit;
			text-decoration: none;
		}
	}

	.nav-item {
		margin: 8px 0;
		padding: 8px 0;
		margin-left: -56px;
		width: calc(100% + 2 * 64px);
		position: relative;

		a {
			text-decoration: none;
			color: inherit;
			display: block;
			width: calc(100% - 56px);
			position: relative;
			padding-left: 56px;
		} 

		&:hover {
			background: $off-white;
		}
	}
}
