@import 'variables';
.semester.card {
	position: relative;
  padding: 16px;
  margin-bottom: 0px;
  margin-top: 24px;

	.semester-title {
		font-size: 1.5em;
		margin-bottom: 12px;
		text-transform: none;
		color: $black;
	}

	a {
		padding: 8px 16px;
		text-decoration: none;
		display: block;
		color: inherit;
	}
}

.add-semester-button {
	width: 100%;
	margin-top: 0;
}
