<div class="card modal-form login" style="display: block; top: 40%; margin: 0; padding:32px;">
  <h3> Sign In </h3>
  <div class="field" style="display: flex; flex-direction:row;">
    <%= button_to 'Login as Admin', new_admin_session_path, method: :get %>
    <div style="margin:10px"></div>
    <%= button_to 'Login as Student', new_student_session_path, method: :get %>
  </div>
</div>
