// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#assignments-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}